.body{
    margin: 0px;
    background-color:#C3EB78;
}

.headerContainer{
    width: 100%;
    height: 250;
    display: flex;
    justify-content: center;
    background-color: rgb(10, 130, 10);
    margin-bottom: 20px;
}

.realHeader{
    color: white;
}

.dropdown-container {
    display: flex;
    justify-content: flex-start;
}

.details {
    width: 350px;
    min-height: 400px;
    max-height:auto;
    margin-top: 10px;
    font-size: 16px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.dropdowns{
    width:350px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #F3FFC6
}
#top-container {
    display: flex;
    justify-content: space-between;
}

.saved-itineraries {
    width: 100%;
    height: 250px;
    margin-left: 10px;
    
}

.itinerary-preview {
    border: 1px solid black;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
    background-color: #F3FFC6
}

.previewAttraction{
   
    width: 100%;
}

.previewPark{
   
    width: 100%;
}

.previewEatery{
   
    width: 100%;
}

.single-itinerary {
    border: 1px solid black;
    padding: 10px;
    margin-right: 20px;
    background-color: #F3FFC6;
}

.header{
    font-size:x-large;
    font-weight: 600;
    padding-left: 10px;
}

.subHeader{
    font-size:large;
    font-weight: 600;
    padding-left: 15px;
}

h2{
    font-size:medium;
    font-weight: 300;
    padding-left: 20px;
}

.button{
    margin:20px;
    background-color: rgb(10, 130, 10);
    color: white;
    font-size: large;

}