.dropdown-container {
    display: flex;
    justify-content: flex-start;
}

.details {
    width: 100%;
    height: 75px;
    border: 1px solid black;
    margin-top: 10px;
}

#top-container {
    display: flex;
    justify-content: space-between;
}

.saved-itineraries {
    width: 100%;
    height: 500px;
    border: 1px solid black;
    margin-left: 10px;
}

.itinerary-preview {
    border: 1px solid black;
    width: 100%;
    height: 500px;
}